.actionScreenMenu {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: clamp(25px, calc(20px + 1.85vw), 45px);
}
@media screen and (max-width: 900px) {
  .actionScreenMenu {
    justify-content: space-around;
  }
}

.clipH1{
  font-size: clamp(20px, 7.5vw, 75px);
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  color : transparent;

}

.h1ChoixListe{

  background-image: linear-gradient(60deg, rgba(241,241,241,1) 30%, #3d85f5 50%, rgba(51,51,51,1) 70%);
}

.h1Liste{

  background-image: linear-gradient(60deg, rgba(241,241,241,1) 20%, rgba(61,133,245,1)50%, rgba(51,51,51,1) 80%);
}

.listeDesListes {
  width: 92vw;
  max-width: 900px;
  margin: 4vw auto;
  display: flex;
  justify-content: space-evenly;
  gap: 4vw;
}

.iconeListe {
  padding: 10px 20px;
  border: 1px solid $noir;
  border-radius: 8px;
  box-shadow: 1px 1px 2px $noir;

  h3,
  h4 {
    display: inline;
  }
  h3{
  
    font-size: clamp(18px, calc(17px + 0.8vw), 28px);
  }
}
.nomListe{
  margin: 0 auto;
  text-align: center;
  

}

.listeListesPerso,
.listeListesTiers {
  width: 50vw;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}



.listePerso{background: linear-gradient(60deg, #f1f1f150 0%, #3d85f550 20%, #3d85f550 80%,  #33333350 100%);
  box-shadow: 2px 2px 8px #333;
}

.listeTiers{
  background: linear-gradient(60deg, #f1f1f150 0%, #9802b650 20%, #9802b650 80%,  #33333350 100%);
  box-shadow: 2px 2px 8px #333;
}

.formCreationListe {
  border: 1px solid $noir;
  border-radius: 8px;
  background: #33333399;
  padding: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25%;
  z-index: 15;
}

.formCreaListCompress {
  transform: translateY(-0%);
}

.creationListe,
.ajoutElementListe {
  cursor: pointer;
  color: $noir;
}

.annulerFormCreationListe,
.annulerFormAjoutElement {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  border-radius: 8px;
  padding: 11px;
  text-align: center;
  transition: all 0.33s;
  cursor: pointer;
  background-color: red;
  box-shadow: 2px 2px 10px #ff000095;
  p {
    font-size: clamp(16px, calc(14px + 0.6vw), 22px);
  }

  &:hover {
    color: red;
    background-color: $noir;
    box-shadow: 2px 2px 20px #33333395;
    p {
      color: red;
    }
  }
}

.formAjoutElement {
  border: 1px solid $noir;
  border-radius: 8px;
  background: #33333399;
  padding: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25%;
  z-index: 15;
}

.listeEnCours {
  text-align: center;
  span {
    font-weight: 400;
  }
}

.contentsList {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .contentList {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $noir;
    position: relative;
    padding-top: 10px;background: linear-gradient(180deg, #eee 0%, #fff 70%);

  }

  a {
    flex-grow: 1;
    text-align: left;
    padding: 10px;
    p{
    font-size: clamp(16px, calc(14px + 0.6vw), 22px);
  }}

  .a-did {
    text-align: right;
    background: $gris;
    color: $blanc;
    p {
      text-decoration: line-through;
    }
  }
  .miniBurger {
    width: 40px;
    height: 40px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
  }
  .miniBurgerPoint {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $noir;
  }

  .gestionElement {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 10px;
    z-index: 10;
    background-color: $noir;
    border: 2px solid $noir;
    border-radius: 5px;
    padding: 20px;
    p {
      width: 94%;
      margin: 0 auto;
      text-align: center;
      font-size: clamp(20px, calc(18px + 0.6vw), 26px);
      font-weight: bold;
      border: 1px solid $blanc;
      border-radius: 8px;
      background: $blanc;
      padding: 20px;
      color : $noir;
      box-shadow: 2px 2px 4px $gris;

      &:nth-child(2){
        margin-bottom: 30px;
      }
    }
  }

  .updateElement {
    cursor: pointer;
  }

  .modifierElementListe {
    width: 100%;
  }
  .modifElement {
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    border: 1px solid $noir;
    border-radius: 8px;
    background: #33333399;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
      width: 80%;
      margin-right: 20px;
      padding: 10px;
      font-size: clamp(16px, calc(14px + 0.6vw), 22px);
    }
    .fa-square-check::before {
      width: 50px;
    }
  }
  .btnValiderModifierElement {
    padding: 0;
    font-size: 20px;
    border: none;
    background: transparent;
    font-size: clamp(25px, calc(23px + 0.6vw), 35px);
  }
  .dnone {
    display: none;
  }
}

#btnAjoutElementList {
  color: $noir;
  background-color: $blanc;
}

.btnListDisable {
  pointer-events: none;
  background-color: #c4c4c4;
  box-shadow: none;
  opacity: 0.5;
}

.ajouterUtilisateurListe {
  @include posMid;
  top: 30%;
  width: 90%;
  z-index: 20;
  border: 1px solid $noir;
  border-radius: 8px;
  background: #33333399;
  padding: 20px;
  width: 75vw;
  min-width: 400px;
  max-width: 650px;
  height: fit-content;
  min-height: 200px;



}
.listeTiers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  i {
    margin-left: 10px;
  }
}

.iconesList {
  width: 70%;
  margin: 0 auto;
  font-size: clamp(16px, calc(14px + 0.6vw), 22px);
  padding-left: 10%;
}
.partageListe{

  margin-left: 50%;
  color:$noir
}

.partageList {
  width: 100%;
  font-size: clamp(16px, calc(14px + 0.6vw), 22px);
}

.utilisateursTiers {
  .shareWith{
    text-align: left;
  }
  h4 {
    width: 100%;
    font-size: clamp(16px, calc(14px + 0.6vw), 22px);
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.regexListe{
  color : $blanc;
  font-size: clamp(16px, calc(14px + 0.6vw), 22px);
  justify-content: center;
  margin: 0 10px;
}

.rtg{
font-weight: normal
}
